@-ms-viewport {
    width: device-width;
}
@viewport {
    width: device-width;
}
@media screen and (max-width: 1230px) {
    .header-1 {
        position: relative;
        background: #151515;
   }
   .header-1 .kopa-header-bottom, .header-1 .kopa-header-top {
       background: #353535;
  }
  .kopa-full-width-carousel-widget .item-content {
      top: 100px;
 }
 .kopa-full-width-carousel-widget .post-cat {
     font-size: 20px;
     padding-bottom: 10px;
}
.kopa-full-width-carousel-widget .item-content .post-title {
    font-size: 26px;
}
.kopa-vertical-carousel-widget .post-content {
    padding: 60px 30px 0;
}
.kopa-thumb-big-carousel-widget .post-title {
    font-size: 20px;
    line-height: 30px;
}
.kopa-thumb-first-big-widget .widget-content > ul > li .post-thumb, .kopa-thumb-first-big-widget .widget-content > ul > li .kopa-metadata {
    display: none;
}
.kopa-thumb-first-big-widget .widget-content > ul > li:first-child .post-thumb {
    display: block;
}
}
@media screen and (max-width: 1023px) {
    .kopa-grid-posts-widget .widget-header {
        padding-left: 0;
   }
   .kopa-grid-posts-widget .latest-post {
       width: 100%;
       float: left !important;
  }
  .kopa-grid-posts-widget .item.item1, .kopa-grid-posts-widget .item.item2 {
      float: right !important;
      width: 50%;
 }
 .kopa-grid-posts-widget .item3 {
     display: none;
}
.kopa-grid-posts-widget .item.item-rtl .item-content, .kopa-grid-posts-widget .item.pull-left .item-content {
    float: left;
    padding-top: 45px;
}
.kopa-list-posts-carousel-2-widget .kopa-num {
    display: none;
}
.kopa-list-item-carousel-widget .item {
    padding-bottom: 130px;
}
.kopa-list-item-carousel-widget .item .item-content {
    height: auto;
    top: auto;
    bottom: 0;
    padding-bottom: 0;
}
.kopa-list-item-carousel-widget .item .item-content .post-content {
    display: none;
}
.kopa-list-item-carousel-widget .item .item-content footer {
    position: relative;
}
.header-1 .main-menu {
    background: #212121;
    width: 100px;
}
.header-1 .main-menu:before {
    background: #212121;
}
.header-2 .kopa-baner {
    display: none;
}
.kopa-grid-posts-2-widget .item-a {
    width: 100%;
    float: none;
}
.kopa-grid-posts-2-widget .item-a .post-title {
    padding: 0 20px;
}
.kopa-grid-posts-2-widget .item-b {
    width: 50%;
}
.kopa-list-item-carousel-widget .item .kopa-metadata.style-2 {
    bottom: 140px;
}
.kopa-list-posts-carousel-3-widget .kopa-date-box {
    display: none;
}
.kopa-list-posts-carousel-3-widget .post-content {
    padding-left: 15px;
}
.kopa-list-posts-thumb-medium-widget .widget-content .post-title {
    font-size: 30px;
    line-height: 40px;
}
.kopa-contact-widget .post-content {
    margin-top: 30px;
}
.kopa-list-posts-2-widget .item {
    width: 25%;
}
.kopa-list-posts-2-widget .item.item4, .kopa-list-posts-2-widget .item.item9 {
    clear: left;
}
}
@media screen and (max-width: 899px) {
    .kopa-full-width-carousel-widget .post-cat {
        margin-bottom: 0;
   }
}
@media screen and (max-width: 799px) {
    .kopa-vertical-carousel-widget .kopa-metadata {
        display: none;
   }
   #kopa-footer .menu-third {
       display: none;
  }
  .kopa-list-post-tabs-widget .item-outer {
      width: 33.333333%;
 }
 .kopa-list-post-tabs-widget .item-outer.item3 {
     border-top: 1px solid #e4e3f0;
}
}
@media screen and (max-width: 767px) {
    .header-1 .menu-second {
        margin-left: 0;
        float: none !important;
        width: 100%;
   }
   .header-1 .kopa-social {
       display: none;
  }
  .header-1 .main-menu {
      float: right;
      background: none;
 }
 .header-1 .main-menu:before {
     display: none;
}
.header-1 .mobile-menu-icon, .header-1 .kopa-menu.mobile-menu {
    right: 30px;
}
.header-1 .kopa-head-line .kopa-list-news-carousel-widget {
    margin-left: 0;
}
.header-1 .kopa-head-line .kopa-list-news-carousel-widget .widget-title {
    display: none;
}
#kopa-header .kopa-logo img {
    margin-left: 28px;
}
.widget-area-2 .widget, .widget-area-3 .widget, .widget-area-4 .widget, .widget-area-5 .widget, .widget-area-7 .widget, .widget-area-8 .widget, .widget-area-9 .widget, .widget-area-11 .widget, .widget-area-12 .widget, .widget-area-13 .widget, .widget-area-21 .widget, .widget-area-22 .widget, .widget-area-23 .widget, .widget-area-24 .widget, .widget-area-25 .widget, .widget-area-26 .widget, .widget-area-18 .widget, .widget-area-19 .widget, .widget-area-27 .widget {
    margin-left: 20px;
    margin-right: 20px;
}
.kopa-ads-widget {
    display: none;
}
.kopa-vertical-carousel-widget .kopa-metadata {
    display: inline-block;
}
.kopa-grid-posts-widget .item.pull-left .item-content {
    display: none;
}
.kopa-grid-posts-widget .item.pull-left .post-thumb {
    width: 100%;
}
.kopa-grid-posts-widget .latest-post .item-content {
    border: none;
    padding-left: 0;
}
.kopa-full-width-carousel-widget .item-content {
    top: 50px;
    left: 0;
    width: 100%;
    padding: 0 20px;
}
.kopa-full-width-carousel-widget .kopa-readmore {
    display: none;
}
.kopa-full-width-carousel-widget .owl-theme .owl-controls {
    display: none !important;
}
.kopa-list-posts-carousel-2-widget .post-content {
    padding-left: 20px;
    margin-top: 0;
}
.kopa-vertical-carousel-widget .post-content {
    padding-top: 120px;
}
#bottom-sidebar .widget {
    padding: 0 20px;
}
.copy-right p {
    padding-left: 20px;
}
.kopa-grid-posts-2-widget .kopa-readmore {
    display: none;
}
.kopa-grid-posts-2-widget .item-b .post-cat {
    display: none;
}
.kopa-grid-posts-2-widget .item-c .kopa-rate, .kopa-grid-posts-2-widget .item-b .kopa-rate {
    display: none;
}
.kopa-grid-posts-2-widget .item-c .post-title, .kopa-grid-posts-2-widget .item-b .post-title {
    margin-top: 50px;
    padding: 0 20px;
    text-align: left;
}
.kopa-list-posts-carousel-widget.style-2 {
    margin-top: 46px !important;
}
.kopa-list-posts-carousel-widget.style-2 .widget-header {
    width: 100%;
}
.kopa-list-posts-carousel-widget.style-2 .widget-header .widget-title {
    width: 100%;
}
.kopa-list-posts-carousel-widget.style-2 .widget-header .widget-title:before {
    display: none;
}
.kopa-list-news-carousel-widget {
    margin-left: 0 !important;
}
.kopa-list-news-carousel-widget .widget-title {
    display: none;
}
.kopa-list-news-carousel-widget .kp-headline {
    padding-left: 20px !important;
}
.kopa-thumb-big-carousel-widget .post-title {
    font-size: 20px;
    line-height: 30px;
}
.header-2 .kopa-header-top .kopa-social {
    display: none;
}
.kopa-list-posts-thumb-big-small-3-widget .item-post {
    width: 100%;
    float: none;
}
.kopa-single-gallery-widget .sync1 {
    width: 100%;
    margin-bottom: 20px;
}
.kopa-single-gallery-widget .sync2 {
    width: 100%;
    margin-right: 0;
}
.kopa-single-gallery-widget .sync2 .owl-item {
    width: 25% !important;
    float: left;
}
.kopa-list-post-tabs-widget .masonry-outer {
    margin: 0;
}
.kopa-tabs-defaul .ui-tabs-nav {
    margin-left: 15px;
}
.kopa-list-posts-2-widget .item {
    width: 33.33333%;
}
.kopa-list-posts-2-widget .item.item4, .kopa-list-posts-2-widget .item.item9 {
    clear: none;
}
.kopa-list-posts-2-widget .item.item3, .kopa-list-posts-2-widget .item.item8 {
    clear: left;
}
.kopa-list-posts-masonry-widget .item-outer {
    width: 50%;
}
.kopa-list-posts-masonry-widget .item-outer.item2 .item {
    border-top: 1px solid #e4e3f0;
    padding-top: 25px;
}
.kopa-list-posts-masonry-widget {
    margin: 0 15px;
}
.kopa-single-blog #main-content {
    margin: 0 20px;
}
.single-post-content aside {
    float: none !important;
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
}
.single-post-content aside .link-social-2, .single-post-content aside .tags-link {
    display: none;
}
.single-post-content .article-content {
    overflow: visible;
}
#comments .comment-list {
    padding-left: 0;
}
#comments .comment-list .children {
    margin-left: 0;
}
.kopa-author {
    margin-bottom: 20px;
}
.pager-page .prev-post, .pager-page .next-post {
    width: 100%;
    float: left;
    text-align: left;
    border: 1px solid #e4e3f0;
    padding-left: 25px;
    padding-right: 0;
    padding-bottom: 15px;
}
.pager-page .prev-post .next, .pager-page .prev-post .prev, .pager-page .next-post .next, .pager-page .next-post .prev {
    margin-left: -25px;
    padding-left: 25px;
    margin-right: 0;
    padding-right: 0;
}
.pager-page .prev-post .next i, .pager-page .prev-post .prev i, .pager-page .next-post .next i, .pager-page .next-post .prev i {
    display: none;
}
.pager-page .prev-post .kopa-date, .pager-page .prev-post .post-cat, .pager-page .next-post .kopa-date, .pager-page .next-post .post-cat {
    float: left;
}
.pager-page .prev-post .kopa-date, .pager-page .next-post .kopa-date {
    border-right: none;
}
.pager-page .prev-post .post-cat, .pager-page .next-post .post-cat {
    border-right: 1px solid #e4e3f0;
}
.pager-page .prev-post {
    margin-bottom: 15px;
}
.kopa-list-posts-thumb-big-small-2-widget .item-content {
    padding-left: 25px;
}
}
@media screen and (max-width: 639px) {
    .kopa-grid-posts-2-widget .item-a .post-cat {
        margin-top: 30px;
   }
   .kopa-thumb-first-big-widget {
       border-top: none;
       border-right: none;
  }
  .kopa-thumb-first-big-widget .widget-header {
      width: 100%;
 }
 .kopa-thumb-first-big-widget .widget-content > ul > li {
     width: 100%;
     float: none;
     padding-right: 0;
     padding-left: 0;
}
.kopa-thumb-first-big-widget .widget-content > ul > li:first-child {
    width: 100%;
}
.kopa-thumb-first-big-widget .widget-content > ul > li:first-child .item .item-content {
    border: none;
    padding-left: 0;
    padding-right: 0;
}
.kopa-list-posts-thumb-big-small-2-widget .widget-header, .kopa-thumb-first-big-widget .widget-header {
    top: 0;
    padding-right: 0;
}
.kopa-list-posts-thumb-big-small-2-widget .widget-header, .kopa-thumb-first-big-widget .widget-header {
    border-bottom: 2px solid #e4e3f0;
    position: relative;
    margin-bottom: 30px;
}
.kopa-list-posts-thumb-big-small-2-widget .widget-header i, .kopa-thumb-first-big-widget .widget-header i {
    display: inline-block;
}
.kopa-list-posts-thumb-big-small-2-widget .widget-title, .kopa-thumb-first-big-widget .widget-title {
    font-size: 25px;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 15px;
    display: inline-block;
    margin-bottom: 0;
    background: none;
    line-height: 22px;
    border-bottom: none;
    color: #292929;
    padding-left: 0;
}
.kopa-list-posts-thumb-big-small-2-widget .widget-title:before, .kopa-thumb-first-big-widget .widget-title:before {
    display: block;
}
}
@media screen and (max-width: 599px) {
    .kopa-grid-posts-widget .latest-post .post-title {
        line-height: 28px;
   }
   .kopa-grid-posts-widget .latest-post .post-content p {
       display: none;
  }
  .kopa-grid-posts-widget .latest-post .post-content .kopa-readmore {
      display: none;
 }
 .kopa-list-posts-carousel-2-widget .post-title {
     line-height: 24px;
}
.kopa-thumb-big-carousel-widget .post-cat, .kopa-thumb-big-carousel-widget .kopa-metadata {
    display: none;
}
.kopa-list-posts-thumb-big-small-5-widget .item {
    width: 100%;
    float: none;
    padding: 0;
    margin-bottom: 15px;
}
.kopa-list-posts-thumb-big-small-5-widget .post-title {
    font-size: 20px;
    line-height: 30px;
}
.kopa-list-posts-thumb-big-small-5-widget .item.latest-post .post-thumb {
    float: none;
    margin-right: 0;
    width: 100%;
    margin-bottom: 15px;
}
.kopa-list-posts-thumb-medium-widget .widget-content .item-post {
    width: 100%;
    float: none;
    padding: 0;
}
.kopa-list-posts-widget .post-thumb {
    float: none !important;
    width: 100%;
}
.kopa-list-posts-widget .item-content {
    padding-left: 15px;
}
.kopa-list-posts-widget.style-2 .widget-content {
    margin: 0;
}
.kopa-list-posts-widget.style-2 .widget-content .item-outer {
    width: 100%;
    padding: 0;
}
.kopa-list-post-tabs-widget .item-outer {
    width: 50%;
}
.kopa-list-post-tabs-widget .item-outer.item2 {
    border-top: 1px solid #e4e3f0;
}
.kopa-list-posts-2-widget .item {
    width: 50%;
}
.kopa-list-posts-2-widget .item.item3, .kopa-list-posts-2-widget .item.item8 {
    clear: none;
}
.kopa-list-posts-2-widget .item.item2, .kopa-list-posts-2-widget .item.item4, .kopa-list-posts-2-widget .item.item6, .kopa-list-posts-2-widget .item.item8 {
    clear: left;
}
.kopa-list-posts-carousel-widget .post-content .post-title {
    font-size: 22px;
    line-height: 30px;
}
}
@media screen and (max-width: 479px) {
    .kopa-list-posts-carousel-widget {
        margin-top: 46px;
   }
   .kopa-list-posts-carousel-widget .widget-header .widget-title {
       display: block;
  }
  .kopa-full-width-carousel-widget .item-content {
      top: 0;
 }
 .kopa-full-width-carousel-widget .item-content .post-title {
     line-height: 30px;
     font-size: 20px;
}
.kopa-full-width-carousel-widget .post-cat {
    margin-bottom: 10px;
}
.kopa-grid-posts-widget .widget-header {
    top: 143px;
}
.kopa-grid-posts-widget .widget-header .widget-title {
    font-size: 20px;
    line-height: 50px;
}
.kopa-vertical-carousel-widget .post-content {
    padding-top: 50px;
}
.header-1 .main-menu {
    height: 36px;
    padding-top: 0;
    position: absolute;
    right: 0;
    top: -36px;
}
.header-1 .kopa-menu.mobile-menu {
    top: 36px;
}
.kopa-grid-posts-2-widget .item-b .post-title {
    font-size: 14px;
    line-height: 24px;
    margin-top: 20px;
}
.kopa-grid-posts-2-widget .item-a .post-title {
    font-size: 20px;
    line-height: 30px;
}
.kopa-thumb-big-carousel-widget .post-title {
    font-size: 16px;
    line-height: 24px;
}
.kopa-list-post-small-thumb-widget .kopa-metadata {
    display: none;
}
.kopa-list-posts-2-widget .item {
    width: 100%;
}
.kopa-list-posts-2-widget .item.item2, .kopa-list-posts-2-widget .item.item4, .kopa-list-posts-2-widget .item.item6, .kopa-list-posts-2-widget .item.item8 {
    clear: none;
}
.kopa-list-posts-masonry-widget .item-outer {
    width: 100%;
}
.kopa-list-posts-masonry-widget .item-outer.item1 .item {
    border-top: 1px solid #e4e3f0;
    padding-top: 25px;
}
.kopa-list-posts-thumb-big-small-2-widget .item-latest .item-content, .kopa-sync-carousel-widget .sync1 .item .item-content {
    padding-right: 20px;
}
.header-1 .kopa-logo, .header-2 .kopa-logo {
    width: 100%;
    text-align: center;
}
#kopa-header .kopa-logo img {
    margin-left: 0;
    display: inline-block;
}
}
@media screen and (max-width: 359px) {
    .kopa-list-post-tabs-widget .item-outer {
        width: 100%;
   }
   .kopa-list-post-tabs-widget .item-outer.item1 {
       border-top: 1px solid #e4e3f0;
  }
  .kopa-list-post-tabs-widget .item {
      padding-left: 0;
      padding-right: 0;
 }
}
@media screen and (max-width: 319px) {
    .container {
        width: 100%;
   }
}
@media only screen and (min-width: 1024px) and (max-width: 1230px) {
    .container {
        width: 1000px;
   }
   .header-1 .main-menu {
       width: 690px;
  }
  .header-1 .kopa-menu.sf-menu > li > a {
      padding: 6px 13px;
 }
 .kopa-grid-posts-widget .item.pull-left .item-content {
     height: 186px;
}
.kopa-grid-posts-widget .widget-header {
    top: 306px;
}
.kopa-grid-posts-widget .item.pull-left .item-content {
    top: 70px;
}
.kopa-flickr-widget .flickr-wrap a {
    height: 61px;
    width: 61px;
}
.kopa-sync-carousel-widget .sync1 .owl-controls {
    bottom: -122px;
}
.kopa-grid-posts-2-widget .item-a .post-title {
    padding: 0 50px;
}
.kopa-grid-posts-2-widget .item-b .post-cat {
    margin-top: 10px;
}
.kopa-single-gallery-widget .sync1 {
    width: 451px;
}
.kopa-thumb-first-big-widget .widget-header {
    top: 222px;
}
.kopa-list-posts-thumb-big-small-2-widget .widget-header {
    top: 240px;
}
}
@media only screen and (min-width: 900px) and (max-width: 1023px) {
    .container {
        width: 860px;
   }
   .kopa-grid-posts-widget .item.pull-left .item-content {
       height: 200px;
  }
  .kopa-grid-posts-widget .widget-header {
      top: 467px;
 }
 .kopa-sync-carousel-widget .sync1 .owl-controls {
     bottom: -151px;
}
.header-1 .mobile-menu-icon, .header-1 .kopa-menu.mobile-menu {
    right: -456px;
}
.kopa-single-gallery-widget .sync1 {
    width: 655px;
}
.kopa-thumb-first-big-widget .widget-header {
    top: 312px;
}
.kopa-list-posts-thumb-big-small-2-widget .widget-header {
    top: 774px;
}
}
@media only screen and (min-width: 800px) and (max-width: 899px) {
    .container {
        width: 760px;
   }
   .kopa-grid-posts-widget .widget-header {
       top: 405px;
  }
  .kopa-grid-posts-widget .item.pull-left .item-content {
      height: 177px;
 }
 .kopa-sync-carousel-widget .sync1 .owl-controls {
     bottom: -138px;
}
.header-1 .mobile-menu-icon, .header-1 .kopa-menu.mobile-menu {
    right: -356px;
}
.kopa-single-gallery-widget .sync1 {
    width: 555px;
}
.kopa-thumb-first-big-widget .widget-header {
    top: 267px;
}
.kopa-list-posts-thumb-big-small-2-widget .widget-header {
    top: 676px;
}
}
@media only screen and (min-width: 768px) and (max-width: 799px) {
    .container {
        width: 720px;
   }
   .kopa-grid-posts-widget .widget-header {
       top: 381px;
  }
  .kopa-grid-posts-widget .item.pull-left .item-content {
      height: 167px;
 }
 .kopa-sync-carousel-widget .sync1 .owl-controls {
     bottom: -133px;
}
.header-1 .mobile-menu-icon, .header-1 .kopa-menu.mobile-menu {
    right: -316px;
}
.kopa-single-gallery-widget .sync1 {
    width: 515px;
}
.kopa-thumb-first-big-widget .widget-header {
    top: 250px;
}
.kopa-list-posts-thumb-big-small-2-widget .widget-header {
    top: 637px;
}
}
@media only screen and (min-width: 640px) and (max-width: 767px) {
    .container {
        width: 100%;
   }
   .kopa-grid-posts-widget .widget-header {
       top: 306px;
  }
  .kopa-sync-carousel-widget .sync1 .owl-controls {
      bottom: -202px;
 }
 .kopa-thumb-first-big-widget .widget-header {
     top: 198px;
}
.kopa-list-posts-thumb-big-small-2-widget .widget-header {
    top: 520px;
}
}
@media only screen and (min-width: 600px) and (max-width: 639px) {
    .container {
        width: 100%;
   }
   .kopa-grid-posts-widget .widget-header {
       top: 281px;
  }
  .kopa-sync-carousel-widget .sync1 .owl-controls {
      bottom: -191px;
 }
}
@media only screen and (min-width: 480px) and (max-width: 599px) {
    .container {
        width: 100%;
   }
   .kopa-grid-posts-widget .widget-header {
       top: 207px;
  }
  .kopa-sync-carousel-widget .sync1 .owl-controls {
      bottom: -157px;
 }
}
@media only screen and (min-width: 360px) and (max-width: 479px) {
    .container {
        width: 100%;
   }
   .kopa-sync-carousel-widget .sync1 .owl-controls {
       bottom: -124px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 359px) {
    .container {
        width: 100%;
   }
   .kopa-sync-carousel-widget .sync1 .owl-controls {
       bottom: -114px;
  }
  .kopa-vertical-carousel-widget .post-content {
      padding-top: 20px;
 }
 .kopa-grid-posts-2-widget .item-b .post-title {
     font-size: 13px;
}
.kopa-grid-posts-widget .widget-header {
    top: 117px;
}
}